<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vika.IModul">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMODUL">
        <activity android:name=".ATA.akuntansi.anp.anp7"></activity>
        <activity android:name=".ATA.akuntansi.anp.anp5" />
        <activity android:name=".ATA.akuntansi.anp.anp6" />
        <activity android:name=".ATA.akuntansi.anp.anp4" />
        <activity android:name=".ATA.akuntansi.anp.anp3" />
        <activity android:name=".ATA.akuntansi.anp.anp2" />
        <activity android:name=".ATA.akuntansi.anp.anp1" />
        <activity android:name=".ATA.akuntansi.anp.anp" />
        <activity android:name=".ATA.akuntansi.paa.paa7" />
        <activity android:name=".ATA.akuntansi.paa.paa6" />
        <activity android:name=".ATA.akuntansi.paa.paa5" />
        <activity android:name=".ATA.akuntansi.paa.paa4" />
        <activity android:name=".ATA.akuntansi.paa.paa3" />
        <activity android:name=".ATA.akuntansi.paa.paa2" />
        <activity android:name=".ATA.akuntansi.paa.paa1" />
        <activity android:name=".ATA.akuntansi.paa.paa" />
        <activity android:name=".ATA.akuntansi.akeme.akeme7" />
        <activity android:name=".ATA.akuntansi.akeme.akeme6" />
        <activity android:name=".ATA.akuntansi.akeme.akeme5" />
        <activity android:name=".ATA.akuntansi.akeme.akeme4" />
        <activity android:name=".ATA.akuntansi.akeme.akeme3" />
        <activity android:name=".ATA.akuntansi.akeme.akeme2" />
        <activity android:name=".ATA.akuntansi.akeme.akeme1" />
        <activity android:name=".ATA.akuntansi.akeme.akeme" />
        <activity android:name=".ATA.akuntansi.akunman.akunman8" />
        <activity android:name=".ATA.akuntansi.akunman.akunman7" />
        <activity android:name=".ATA.akuntansi.akunman.akunman6" />
        <activity android:name=".ATA.akuntansi.akunman.akunman5" />
        <activity android:name=".ATA.akuntansi.akunman.akunman4" />
        <activity android:name=".ATA.akuntansi.akunman.akunman3" />
        <activity android:name=".ATA.akuntansi.akunman.akunman2" />
        <activity android:name=".ATA.akuntansi.akunman.akunman1" />
        <activity android:name=".ATA.akuntansi.akunman.akunman" />
        <activity android:name=".ATA.akuntansi.pengakun2.pengakun5" />
        <activity android:name=".ATA.akuntansi.pengakun2.pengakun6" />
        <activity android:name=".ATA.akuntansi.pengakun2.pengakun7" />
        <activity android:name=".ATA.akuntansi.pengakun2.pengakun4" />
        <activity android:name=".ATA.akuntansi.pengakun2.pengakun3" />
        <activity android:name=".ATA.akuntansi.pengakun2.pengakun2" />
        <activity android:name=".ATA.akuntansi.pengakun2.pengakun1" />
        <activity android:name=".ATA.akuntansi.pengakun2.pengakun" />
        <activity android:name=".ATA.akuntansi.komper.komper7" />
        <activity android:name=".ATA.akuntansi.komper.komper6" />
        <activity android:name=".ATA.akuntansi.komper.komper4" />
        <activity android:name=".ATA.akuntansi.komper.komper5" />
        <activity android:name=".ATA.akuntansi.komper.komper3" />
        <activity android:name=".ATA.akuntansi.komper.komper2" />
        <activity android:name=".ATA.akuntansi.komper.komper1" />
        <activity android:name=".ATA.akuntansi.komper.komper" />
        <activity android:name=".ATA.akuntansi.pemograkun.pemograkun7" />
        <activity android:name=".ATA.akuntansi.pemograkun.pemograkun6" />
        <activity android:name=".ATA.akuntansi.pemograkun.pemograkun5" />
        <activity android:name=".ATA.akuntansi.pemograkun.pemograkun4" />
        <activity android:name=".ATA.akuntansi.pemograkun.pemograkun3" />
        <activity android:name=".ATA.akuntansi.pemograkun.pemograkun2" />
        <activity android:name=".ATA.akuntansi.pemograkun.pemograkun1" />
        <activity android:name=".ATA.akuntansi.pemograkun.pemograkun" />
        <activity android:name=".ATA.akuntansi.ataakun" />
        <activity android:name=".ATA.manajemen.man_riset3" />
        <activity android:name=".ATA.manajemen.man_riset2" />
        <activity android:name=".ATA.manajemen.manajemenata" />
        <activity android:name=".PTA.manajemen.perper.Perper8" />
        <activity android:name=".PTA.manajemen.perper.Perper7" />
        <activity android:name=".PTA.manajemen.perper.Perper6" />
        <activity android:name=".PTA.manajemen.perper.Perper5" />
        <activity android:name=".PTA.manajemen.perper.Perper4" />
        <activity android:name=".PTA.manajemen.perper.Perper3" />
        <activity android:name=".PTA.manajemen.perper.Perper2" />
        <activity android:name=".PTA.manajemen.perper.Perper1" />
        <activity android:name=".PTA.manajemen.perper.Perper" />
        <activity android:name=".PTA.manajemen.kompe.kompe2" />
        <activity android:name=".PTA.manajemen.kompe.kompe3" />
        <activity android:name=".PTA.manajemen.kompe.kompe4" />
        <activity android:name=".PTA.manajemen.kompe.kompe1" />
        <activity android:name=".PTA.manajemen.kompe.kompe" />
        <activity android:name=".PTA.manajemen.riset.riset7" />
        <activity android:name=".PTA.manajemen.riset.riset6" />
        <activity android:name=".PTA.manajemen.riset.riset5" />
        <activity android:name=".PTA.manajemen.riset.riset4" />
        <activity android:name=".PTA.manajemen.riset.riset3" />
        <activity android:name=".PTA.manajemen.riset.riset2" />
        <activity android:name=".PTA.manajemen.riset.riset1" />
        <activity android:name=".PTA.manajemen.riset.riset" />
        <activity android:name=".PTA.manajemen.manpe.manpe6" />
        <activity android:name=".PTA.manajemen.manpe.manpe5" />
        <activity android:name=".PTA.manajemen.manpe.manpe4" />
        <activity android:name=".PTA.manajemen.manpe.manpe3" />
        <activity android:name=".PTA.manajemen.manpe.manpe2" />
        <activity android:name=".PTA.manajemen.manpe.manpe1" />
        <activity android:name=".PTA.manajemen.manpe.manpe" />
        <activity android:name=".PTA.manajemen.manke.manke10" />
        <activity android:name=".PTA.manajemen.manke.manke9" />
        <activity android:name=".PTA.manajemen.manke.manke8" />
        <activity android:name=".PTA.manajemen.manke.manke7" />
        <activity android:name=".PTA.manajemen.manke.manke6" />
        <activity android:name=".PTA.manajemen.manke.manke5" />
        <activity android:name=".PTA.manajemen.manke.manke4" />
        <activity android:name=".PTA.manajemen.manke.manke3" />
        <activity android:name=".PTA.manajemen.manke.manke2" />
        <activity android:name=".PTA.manajemen.manke.manke1" />
        <activity android:name=".PTA.manajemen.manke.manke" />
        <activity android:name=".PTA.manajemen.anggaran.anggaran7" />
        <activity android:name=".PTA.manajemen.anggaran.anggaran6" />
        <activity android:name=".PTA.manajemen.anggaran.anggaran5" />
        <activity android:name=".PTA.manajemen.anggaran.anggaran4" />
        <activity android:name=".PTA.manajemen.anggaran.anggaran3" />
        <activity android:name=".PTA.manajemen.anggaran.anggaran2" />
        <activity android:name=".PTA.manajemen.anggaran.anggaran1" />
        <activity android:name=".PTA.manajemen.anggaran.anggaran" />
        <activity android:name=".PTA.manajemen.manajemenpta4" />
        <activity android:name=".PTA.manajemen.manajemenpta3" />
        <activity android:name=".PTA.manajemen.manajemenpta2" />
        <activity android:name=".PTA.manajemen.manajemenpta" />
        <activity android:name=".PTA.akuntansi.akbi.akbi9" />
        <activity android:name=".PTA.akuntansi.akbi.akbi8" />
        <activity android:name=".PTA.akuntansi.akbi.akbi7" />
        <activity android:name=".PTA.akuntansi.akbi.akbi6" />
        <activity android:name=".PTA.akuntansi.akbi.akbi5" />
        <activity android:name=".PTA.akuntansi.akbi.akbi4" />
        <activity android:name=".PTA.akuntansi.akbi.akbi3" />
        <activity android:name=".PTA.akuntansi.akbi.akbi2" />
        <activity android:name=".PTA.akuntansi.akbi.akbi1" />
        <activity android:name=".PTA.akuntansi.akbi.akbi" />
        <activity android:name=".PTA.akuntansi.aklan.aklan6" />
        <activity android:name=".PTA.akuntansi.aklan.aklan5" />
        <activity android:name=".PTA.akuntansi.aklan.aklan4" />
        <activity android:name=".PTA.akuntansi.aklan.aklan3" />
        <activity android:name=".PTA.akuntansi.aklan.aklan2" />
        <activity android:name=".PTA.akuntansi.aklan.aklan1" />
        <activity android:name=".PTA.akuntansi.aklan.aklan" />
        <activity android:name=".PTA.akuntansi.audit.audit8" />
        <activity android:name=".PTA.akuntansi.audit.audit7" />
        <activity android:name=".PTA.akuntansi.audit.audit6" />
        <activity android:name=".PTA.akuntansi.audit.audit15" />
        <activity android:name=".PTA.akuntansi.audit.audit4" />
        <activity android:name=".PTA.akuntansi.audit.audit3" />
        <activity android:name=".PTA.akuntansi.audit.audit2" />
        <activity android:name=".PTA.akuntansi.audit.audit1" />
        <activity android:name=".PTA.akuntansi.audit.audit" />
        <activity android:name=".PTA.akuntansi.pajak.pajak12" />
        <activity android:name=".PTA.akuntansi.pajak.pajak11" />
        <activity android:name=".PTA.akuntansi.pajak.pajak10" />
        <activity android:name=".PTA.akuntansi.pajak.pajak9" />
        <activity android:name=".PTA.akuntansi.pajak.pajak8" />
        <activity android:name=".PTA.akuntansi.pajak.pajak7" />
        <activity android:name=".PTA.akuntansi.pajak.pajak6" />
        <activity android:name=".PTA.akuntansi.pajak.pajak5" />
        <activity android:name=".PTA.akuntansi.pajak.pajak4" />
        <activity android:name=".PTA.akuntansi.pajak.pajak3" />
        <activity android:name=".PTA.akuntansi.pajak.pajak2" />
        <activity android:name=".PTA.akuntansi.pajak.pajak1" />
        <activity android:name=".PTA.akuntansi.pajak.pajak" />
        <activity android:name=".PTA.akuntansi.PemAk.PemAk7" />
        <activity android:name=".PTA.akuntansi.PemAk.PemAk6" />
        <activity android:name=".PTA.akuntansi.PemAk.PemAk5" />
        <activity android:name=".PTA.akuntansi.PemAk.PemAk3" />
        <activity android:name=".PTA.akuntansi.PemAk.PemAk4" />
        <activity android:name=".PTA.akuntansi.PemAk2" />
        <activity android:name=".PTA.akuntansi.PemAk.PemAk1" />
        <activity android:name=".PTA.akuntansi.PemAk.PemAk" />
        <activity android:name=".PTA.akuntansi.AKK.akk3" />
        <activity android:name=".PTA.akuntansi.AKK.akk5" />
        <activity android:name=".PTA.akuntansi.AKK.akk6" />
        <activity android:name=".PTA.akuntansi.AKK.akk7" />
        <activity android:name=".PTA.akuntansi.AKK.akk4" />
        <activity android:name=".PTA.akuntansi.AKK.akk2" />
        <activity android:name=".PTA.akuntansi.AKK.akk1" />
        <activity android:name=".PTA.akuntansi.AKK.akk" />
        <activity android:name=".PTA.akuntansi.ptaakun3" />
        <activity android:name=".PTA.akuntansi.ptaakun2" />
        <activity android:name=".PTA.akuntansi.ptaakun1" />
        <activity android:name=".PTA.akuntansi.ptaakun" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi8" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi7" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi6" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi5" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi4" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi3" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi2" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi1" />
        <activity android:name=".PTA.akuntansi.akun.akuntansi" />
        <activity android:name=".ATA.si.pascal.pas3" />
        <activity android:name=".ATA.si.pascal.pas2" />
        <activity android:name=".ATA.si.pascal.pas4" />
        <activity android:name=".ATA.si.pascal.pas5" />
        <activity android:name=".ATA.si.pascal.pas1" />
        <activity android:name=".ATA.si.pascal.pas" />
        <activity android:name=".ATA.si.openoffice.openoffice6" />
        <activity android:name=".ATA.si.openoffice.openoffice7" />
        <activity android:name=".ATA.si.openoffice.openoffice5" />
        <activity android:name=".ATA.si.openoffice.openoffice4" />
        <activity android:name=".ATA.si.openoffice.openoffice3" />
        <activity android:name=".ATA.si.openoffice.openoffice2" />
        <activity android:name=".ATA.si.openoffice.openoffice1" />
        <activity android:name=".ATA.si.openoffice.openoffice" />
        <activity android:name=".ATA.si.excel.cel5" />
        <activity android:name=".ATA.si.excel.cel6" />
        <activity android:name=".ATA.si.excel.cel4" />
        <activity android:name=".ATA.si.excel.cel7" />
        <activity android:name=".ATA.si.excel.cel3" />
        <activity android:name=".ATA.si.excel.cel2" />
        <activity android:name=".ATA.si.excel.cel1" />
        <activity android:name=".ATA.si.excel.cel" />
        <activity android:name=".ATA.si.cpluss.cpuss4" />
        <activity android:name=".ATA.si.cpluss.cpuss3" />
        <activity android:name=".ATA.si.cpluss.cpuss5" />
        <activity android:name=".ATA.si.cpluss.cpuss6" />
        <activity android:name=".ATA.si.cpluss.cpuss7" />
        <activity android:name=".ATA.si.cpluss.cpuss2" />
        <activity android:name=".ATA.si.cpluss.cpuss1" />
        <activity android:name=".ATA.si.cpluss.cpuss" />
        <activity android:name=".ATA.si.pbd" />
        <activity android:name=".ATA.si.jav" />
        <activity android:name=".ATA.si.numerik" />
        <activity android:name=".ATA.si.atasitingk2" />
        <activity android:name=".ATA.si.atasitingk1" />
        <activity android:name=".ATA.si.atasi" />
        <activity android:name=".ATA.si.cplus" />
        <activity android:name=".ATA.ti.TBO.tbo3" />
        <activity android:name=".ATA.ti.TBO.tbo7" />
        <activity android:name=".ATA.ti.TBO.tbo6" />
        <activity android:name=".ATA.ti.TBO.tbo5" />
        <activity android:name=".ATA.ti.TBO.tbo4" />
        <activity android:name=".ATA.ti.TBO.tbo2" />
        <activity android:name=".ATA.ti.TBO.tbo1" />
        <activity android:name=".ATA.ti.TBO.tbo" />
        <activity android:name=".ATA.ti.statistika.tisat3" />
        <activity android:name=".ATA.ti.statistika.tisat7" />
        <activity android:name=".ATA.ti.statistika.tisat6" />
        <activity android:name=".ATA.ti.statistika.tisat5" />
        <activity android:name=".ATA.ti.statistika.tisat4" />
        <activity android:name=".ATA.ti.statistika.tisat2" />
        <activity android:name=".ATA.ti.statistika.tisat1" />
        <activity android:name=".ATA.ti.statistika.tisat" />
        <activity android:name=".ATA.ti.python.python7" />
        <activity android:name=".ATA.ti.python.python6" />
        <activity android:name=".ATA.ti.python.python5" />
        <activity android:name=".ATA.ti.python.python4" />
        <activity android:name=".ATA.ti.python.python3" />
        <activity android:name=".ATA.ti.python.python2" />
        <activity android:name=".ATA.ti.python.python1" />
        <activity android:name=".ATA.ti.python.python" />
        <activity android:name=".ATA.ti.pascal.pascal7" />
        <activity android:name=".ATA.ti.pascal.pascal6" />
        <activity android:name=".ATA.ti.pascal.pascal5" />
        <activity android:name=".ATA.ti.pascal.pascal4" />
        <activity android:name=".ATA.ti.pascal.pascal3" />
        <activity android:name=".ATA.ti.pascal.pascal2" />
        <activity android:name=".ATA.ti.pascal.pascal1" />
        <activity android:name=".ATA.ti.pascal.pascal" />
        <activity android:name=".ATA.ti.openoffice.oo7" />
        <activity android:name=".ATA.ti.openoffice.oo6" />
        <activity android:name=".ATA.ti.openoffice.oo5" />
        <activity android:name=".ATA.ti.openoffice.oo4" />
        <activity android:name=".ATA.ti.openoffice.oo3" />
        <activity android:name=".ATA.ti.openoffice.oo2" />
        <activity android:name=".ATA.ti.openoffice.oo1" />
        <activity android:name=".ATA.ti.openoffice.oo" />
        <activity android:name=".ATA.ti.matif.maatif7" />
        <activity android:name=".ATA.ti.matif.maatif6" />
        <activity android:name=".ATA.ti.matif.maatif5" />
        <activity android:name=".ATA.ti.matif.maatif4" />
        <activity android:name=".ATA.ti.matif.maatif3" />
        <activity android:name=".ATA.ti.matif.maatif2" />
        <activity android:name=".ATA.ti.matif.maatif1" />
        <activity android:name=".ATA.ti.matif.maatif" />
        <activity android:name=".ATA.ti.fortan.fortan7" />
        <activity android:name=".ATA.ti.fortan.fortan6" />
        <activity android:name=".ATA.ti.fortan.fortan5" />
        <activity android:name=".ATA.ti.fortan.fortan4" />
        <activity android:name=".ATA.ti.fortan.fortan3" />
        <activity android:name=".ATA.ti.fortan.fortan2" />
        <activity android:name=".ATA.ti.fortan.fortan1" />
        <activity android:name=".ATA.ti.fortan.fortan" />
        <activity android:name=".ATA.ti.C.cper7" />
        <activity android:name=".ATA.ti.C.cper6" />
        <activity android:name=".ATA.ti.C.cper5" />
        <activity android:name=".ATA.ti.C.cper4" />
        <activity android:name=".ATA.ti.C.cper3" />
        <activity android:name=".ATA.ti.C.cper2" />
        <activity android:name=".ATA.ti.C.cper1" />
        <activity android:name=".ATA.ti.C.c" />
        <activity android:name=".ATA.ti.atati" />
        <activity android:name=".PTA.TI.Tekkom.Tekkom7" />
        <activity android:name=".PTA.TI.Tekkom.Tekkom6" />
        <activity android:name=".PTA.TI.Tekkom.Tekkom5" />
        <activity android:name=".PTA.TI.Tekkom.Tekkom4" />
        <activity android:name=".PTA.TI.Tekkom.Tekkom3" />
        <activity android:name=".PTA.TI.Tekkom.Tekkom2" />
        <activity android:name=".PTA.TI.Tekkom.Tekkom1" />
        <activity android:name=".PTA.TI.Tekkom.Tekkom" />
        <activity android:name=".PTA.TI.PTA_TI" />
        <activity android:name=".PTA.TI.SO.So8" />
        <activity android:name=".PTA.TI.SO.So7" />
        <activity android:name=".PTA.TI.SO.So6" />
        <activity android:name=".PTA.TI.SO.So5" />
        <activity android:name=".PTA.TI.SO.So4" />
        <activity android:name=".PTA.TI.SO.So3" />
        <activity android:name=".PTA.TI.SO.So2" />
        <activity android:name=".PTA.TI.SO.So1" />
        <activity android:name=".PTA.TI.SO.SO" />
        <activity android:name=".PTA.SI.RO.RO9" />
        <activity android:name=".PTA.SI.RO.RO8" />
        <activity android:name=".PTA.SI.RO.RO7" />
        <activity android:name=".PTA.SI.RO.RO6" />
        <activity android:name=".PTA.SI.RO.RO5" />
        <activity android:name=".PTA.SI.RO.RO4" />
        <activity android:name=".PTA.SI.RO.RO3" />
        <activity android:name=".PTA.SI.RO.RO2" />
        <activity android:name=".PTA.SI.RO.RO1" />
        <activity android:name=".PTA.SI.RO.RO" />
        <activity android:name=".PTA.SI.SBD.sbd7" />
        <activity android:name=".PTA.SI.SBD.sbd6" />
        <activity android:name=".PTA.SI.SBD.sbd5" />
        <activity android:name=".PTA.SI.SBD.sbd4" />
        <activity android:name=".PTA.SI.SBD.sbd3" />
        <activity android:name=".PTA.SI.SBD.sbd2" />
        <activity android:name=".PTA.SI.SBD.sbd1" />
        <activity android:name=".PTA.SI.SBD.SBD" />
        <activity android:name=".PTA.SI.matlan.matlan7" />
        <activity android:name=".PTA.SI.matlan.matlan6" />
        <activity android:name=".PTA.SI.matlan.matlan5" />
        <activity android:name=".PTA.SI.matlan.matlan4" />
        <activity android:name=".PTA.SI.matlan.matlan3" />
        <activity android:name=".PTA.SI.matlan.matlan2" />
        <activity android:name=".PTA.SI.matlan.matlan1" />
        <activity android:name=".PTA.SI.matlan.matlan" />
        <activity android:name=".PTA.SI.matif.matif6" />
        <activity android:name=".PTA.SI.matif.matif5" />
        <activity android:name=".PTA.SI.matif.matif4" />
        <activity android:name=".PTA.SI.matif.matif3" />
        <activity android:name=".PTA.SI.matif.matif2" />
        <activity android:name=".PTA.SI.matif.matif1" />
        <activity android:name=".PTA.SI.matif.matif" />
        <activity android:name=".PTA.SI.LogikaAlgoritma" />
        <activity android:name=".PTA.SI.COBOL.cobol11" />
        <activity android:name=".PTA.SI.COBOL.cobol10" />
        <activity android:name=".PTA.SI.COBOL.cobol9" />
        <activity android:name=".PTA.SI.COBOL.cobol8" />
        <activity android:name=".PTA.SI.COBOL.cobol7" />
        <activity android:name=".PTA.SI.COBOL.cobol6" />
        <activity android:name=".PTA.SI.COBOL.cobol5" />
        <activity android:name=".PTA.SI.COBOL.cobol12" />
        <activity android:name=".PTA.SI.COBOL.cobol4" />
        <activity android:name=".PTA.SI.COBOL.cobol3" />
        <activity android:name=".PTA.SI.COBOL.cobol2" />
        <activity android:name=".PTA.SI.COBOL.cobol1" />
        <activity android:name=".PTA.SI.COBOL.cobol" />
        <activity android:name=".PTA.SI.Java.java13" />
        <activity android:name=".PTA.SI.Java.java12" />
        <activity android:name=".PTA.SI.Java.java11" />
        <activity android:name=".PTA.SI.Java.java10" />
        <activity android:name=".PTA.SI.Java.java9" />
        <activity android:name=".PTA.SI.Java.Java8" />
        <activity android:name=".PTA.SI.Java.Java7" />
        <activity android:name=".PTA.SI.Java.java6" />
        <activity android:name=".PTA.SI.Java.java5" />
        <activity android:name=".PTA.SI.Java.java4" />
        <activity android:name=".PTA.SI.Java.java3" />
        <activity android:name=".PTA.SI.Java.java2" />
        <activity android:name=".PTA.SI.Java.java1" />
        <activity android:name=".PTA.SI.Java.JAVA" />
        <activity android:name=".PTA.SI.Excel.PTASIEXCEL" />
        <activity android:name=".PTA.SI.Excel.PTASIE6" />
        <activity android:name=".PTA.SI.Excel.PTASIE5" />
        <activity android:name=".PTA.SI.Excel.PTASIE4" />
        <activity android:name=".PTA.SI.Excel.PTASIE3" />
        <activity android:name=".PTA.SI.Excel.PTASIE2" />
        <activity android:name=".PTA.SI.Excel.PTASIE1" />
        <activity android:name=".PTA.SI.Windows.PTAWin" />
        <activity android:name=".PTA.SI.Windows.PTASIW7" />
        <activity android:name=".PTA.SI.Windows.PTASIW6" />
        <activity android:name=".PTA.SI.Windows.PTASIW5" />
        <activity android:name=".PTA.SI.Windows.PTASIW4" />
        <activity android:name=".PTA.SI.Windows.PTASIW3" />
        <activity android:name=".PTA.SI.Windows.PTASIW2" />
        <activity android:name=".PTA.SI.Windows.PTASIW1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PTA.SI.Qbasic.PTA_AP" />
        <activity android:name=".PTA.SI.Qbasic.APPert7" />
        <activity android:name=".PTA.SI.Qbasic.APPert6" />
        <activity android:name=".PTA.SI.Qbasic.APPert5" />
        <activity android:name=".PTA.SI.Qbasic.APPert4" />
        <activity android:name=".PTA.SI.Qbasic.APPert3" />
        <activity android:name=".PTA.SI.Qbasic.APPert2" />
        <activity android:name=".PTA.SI.Qbasic.APPert1" />
        <activity android:name=".PTA.SI.PTASIMODUL3" />
        <activity android:name=".PTA.SI.PTASIMODUL2" />
        <activity android:name=".PTA.SI.PTASIMODUL" />
        <activity android:name=".PTA.SI.PTASI" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_pert5" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_pert6" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_pert7" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_pert4" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_Pert3" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_Pert2" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_Pert1" />
        <activity android:name=".PTA.Komunikasi_Psikolog.PTA_MA" />
        <activity android:name=".ATA.MAStatistika" />
        <activity android:name=".ATA.Komunikasi.Pertemuan1" />
        <activity android:name=".ATA.Komunikasi.Pertemuan7Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan6Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan5Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan4Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan3Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan2Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan1Activity" />
        <activity android:name=".ATA.Komunikasi.MAActivity" />
        <activity android:name=".ptaActivity" />
        <activity android:name=".ataActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>