<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vika.IModul">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMODUL">
        <activity android:name=".PTA.SI.Excel.PTASIEXCEL"></activity>
        <activity android:name=".PTA.SI.Excel.PTASIE6" />
        <activity android:name=".PTA.SI.Excel.PTASIE5" />
        <activity android:name=".PTA.SI.Excel.PTASIE4" />
        <activity android:name=".PTA.SI.Excel.PTASIE3" />
        <activity android:name=".PTA.SI.Excel.PTASIE2" />
        <activity android:name=".PTA.SI.Excel.PTASIE1" />
        <activity android:name=".PTA.SI.Windows.PTAWin" />
        <activity android:name=".PTA.SI.Windows.PTASIW7" />
        <activity android:name=".PTA.SI.Windows.PTASIW6" />
        <activity android:name=".PTA.SI.Windows.PTASIW5" />
        <activity android:name=".PTA.SI.Windows.PTASIW4" />
        <activity android:name=".PTA.SI.Windows.PTASIW3" />
        <activity android:name=".PTA.SI.Windows.PTASIW2" />
        <activity android:name=".PTA.SI.Windows.PTASIW1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PTA.SI.Qbasic.PTA_AP" />
        <activity android:name=".PTA.SI.Qbasic.APPert7" />
        <activity android:name=".PTA.SI.Qbasic.APPert6" />
        <activity android:name=".PTA.SI.Qbasic.APPert5" />
        <activity android:name=".PTA.SI.Qbasic.APPert4" />
        <activity android:name=".PTA.SI.Qbasic.APPert3" />
        <activity android:name=".PTA.SI.Qbasic.APPert2" />
        <activity android:name=".PTA.SI.Qbasic.APPert1" />
        <activity android:name=".PTA.SI.PTASIMODUL3" />
        <activity android:name=".PTA.SI.PTASIMODUL2" />
        <activity android:name=".PTA.SI.PTASIMODUL" />
        <activity android:name=".PTA.SI.PTASI" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_pert5" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_pert6" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_pert7" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_pert4" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_Pert3" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_Pert2" />
        <activity android:name=".PTA.Komunikasi_Psikolog.MA_Pert1" />
        <activity android:name=".PTA.Komunikasi_Psikolog.PTA_MA" />
        <activity android:name=".ATA.MAStatistika" />
        <activity android:name=".ATA.Komunikasi.Pertemuan1" />
        <activity android:name=".ATA.Komunikasi.Pertemuan7Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan6Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan5Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan4Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan3Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan2Activity" />
        <activity android:name=".ATA.Komunikasi.Pertemuan1Activity" />
        <activity android:name=".ATA.Komunikasi.MAActivity" />
        <activity android:name=".ptaActivity" />
        <activity android:name=".ataActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>